<section class="info_section long_section" th:fragment="info">
    <div class="container">
        <div class="contact_nav">
            <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span th:text="#{info.call}">Call : +01 123455678990</span>
            </a>
            <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span th:text="#{info.email}">Email : demo@gmail.com</span>
            </a>
            <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span th:text="#{info.location}">Location</span>
            </a>
        </div>

        <div class="info_top ">
            <div class="row ">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="info_links">
                        <h4 th:text="#{info.quickLinks}">QUICK LINKS</h4>
                        <div class="info_links_menu">
                            <a class="" th:href="@{/}" th:text="#{info.home}">Home <span class="sr-only">(current)</span></a>
                            <a class="" th:href="@{/about}" th:text="#{info.about}"> About</a>
                            <a class="" th:href="@{/guitars}" th:text="#{info.guitars}">Guitars</a>
                            <a class="" th:href="@{/contact}" th:text="#{info.contact}">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mx-auto">
                    <div class="info_post">
                        <h5 th:text="#{info.instagramFeeds}">INSTAGRAM FEEDS</h5>
                        <div class="post_box">
                            <div class="img-box">
                                <img src="images/guitar2.jpg" alt="">
                            </div>
                            <div class="img-box">
                                <img src="images/guitar2.jpg" alt="">
                            </div>
                            <div class="img-box">
                                <img src="images/guitar2.jpg" alt="">
                            </div>
                            <div class="img-box">
                                <img src="images/guitar2.jpg" alt="">
                            </div>
                            <div class="img-box">
                                <img src="images/guitar2.jpg" alt="">
                            </div>
                            <div class="img-box">
                                <img src="images/guitar2.jpg" alt="">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="info_form">
                        <h4 th:text="#{info.newsletterSignup}">SIGN UP TO OUR NEWSLETTER</h4>
                        <form action="">
                            <input type="text" placeholder="Enter Your Email" />
                            <button type="submit" th:text="#{info.subscribe}">Subscribe</button>
                        </form>
                        <div class="social_box">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
