<header class="header_section long_section px-0" th:fragment="navbar">
    <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="/">
          <span>
            GuitarZone
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about"> About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/guitars">Guitars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="quote_btn-container">
                <div class="btn-group">
                    <button type="button" class="btn btn-transparent dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        ADMIN
                        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="manage-products.html">Manage Products</a>
                        <a class="dropdown-item" href="manage-orders.html">Manage Orders</a>
                    </div>
                </div>
                <a href="/users/login">
              <span>
                Login
              </span>
                    <i class="login" aria-hidden="true"></i>
                </a>
                <a href="/users/register">
              <span>
                Register
              </span>
                    <i class="register" aria-hidden="true"></i>
                </a>
                <div class="btn-group">
                    <button type="button" class="btn btn-transparent dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user user-icon" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/user/account">User Account</a>
                        <a class="dropdown-item" href="/user/orders">Order History</a>
                        <a class="dropdown-item" href="/user/wishlist">Wishlist</a>
                    </div>
                </div>
                <a href="/cart">
                    <i class="fa fa-shopping-cart cart-icon" aria-hidden="true"></i>
                </a>
                <!-- <form class="form-inline">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form> -->
            </div>
        </div>
    </nav>
</header>
