<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">

</head>

<body class="sub_page">

<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section long_section px-0" th:replace="~{fragments/navbar}">
    </header>
    <!-- end header section -->
</div>


<section class="guitar_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Our Guitars
            </h2>
            <p>
                Explore our wide selection of guitars, perfect for every skill level and style. Whether you are a beginner or a professional, we have the right guitar for you.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4" th:each="product : ${products}" >
                <div class="box">
                    <div class="img-box">
                        <img th:src="@{/images/{imageUrl}(imageUrl=${product.imageUrl})}" alt="guitar image">
                        <span class="deal-label"></span>
                    </div>
                    <div class="detail-box">
                        <h5>
                            <a th:href="@{/guitars/guitar-details/{id}(id=*{product.id})}" th:text="${product.name}">guitar</a>
                        </h5>
                        <p th:text="${product.type}">guitar type</p>
                        <div class="rating-stock">
                            <div class="rating" data-product-id="123">
                                <span class="fa fa-star" data-value="1"></span>
                                <span class="fa fa-star" data-value="2"></span>
                                <span class="fa fa-star" data-value="3"></span>
                                <span class="fa fa-star" data-value="4"></span>
                                <span class="fa fa-star" data-value="5"></span>
                            </div>
                            <span th:text="${product.rating}"></span>
                        </div>
                        <div class="price_box">
                            <h6 class="price_heading">
                                <span class="original_price" th:text="${product.price}">£</span>£
                            </h6>
                            <p class="stock_status" th:text="${product.stockStatus}">
                                <i class="fa fa-check-circle"></i>
                            </p>
                        </div>
                        <div class="action_buttons">
                            <form th:action="@{/cart/add}" method="post">
                                <input type="hidden" name="productId" th:value="${product.id}">
                                <input type="hidden" name="quantity" value="1">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
                            </form>
                            <form th:action="@{/users/wishlist/add}" method="post">
                                <input type="hidden" name="productId" th:value="${product.id}">
                                <button type="submit" class="btn btn-secondary">
                                    <i class="fa fa-heart"></i> <!-- Adding the Font Awesome heart icon -->
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- info section -->
<section class="info_section long_section" th:replace="~{fragments/info}">

</section>
<!-- end info_section -->


<!-- footer section -->
<footer class="footer_section" th:replace="~{fragments/footer}">

</footer>
<!-- footer section -->

<div th:replace="~{fragments/script}"></div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const stars = document.querySelectorAll('.rating .fa-star');
        stars.forEach(star => {
            star.addEventListener('click', function() {
                const ratingValue = this.getAttribute('data-value');
                const productId = this.parentElement.getAttribute('data-product-id');

                // Highlight the clicked stars
                stars.forEach(s => s.classList.remove('checked'));
                for(let i = 0; i < ratingValue; i++) {
                    stars[i].classList.add('checked');
                }

                // Send the rating to the server
                fetch(`/rateProduct`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        productId: productId,
                        rating: ratingValue
                    }),
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success:', data);
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            });
        });
    });
</script>

</body>
</html>