<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body class="sub_page">

<div class="hero_area">
    <!-- header section starts -->
    <header class="header_section long_section px-0" th:replace="~{fragments/navbar}">
    </header>
    <!-- end header section -->
</div>

<!-- product details section -->
<section class="product_details_section layout_padding">
    <div class="container" th:object="${productDetails}">
        <div class="row">

            <div class="col-lg-6">
                <div class="img-box">
                    <img th:src="@{/images/{imageUrl}(imageUrl=${productDetails.imageUrl})}" alt="guitar image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="details-box">
                    <h2 th:text="*{name}">guitar name</h2>
                    <p th:text="*{type}">guitar type</p>
                    <p th:text="*{description}">guitar description</p>
                    <div class="price-box">
                        <h6 class="price_heading"><span class="original_price" th:text="*{price}">£</span></h6>
                        <p class="stock_status"><i class="fa fa-check-circle" th:text="*{stockStatus}"></i></p>
                    </div>

                    <div class="action_buttons">
                        <a href="" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Cart</a>
                        <form th:action="@{/users/wishlist/add}" method="post">
                            <input type="hidden" name="productId" th:value="${productDetails.id}">
                            <button type="submit" class="btn btn-secondary">
                                <i class="fa fa-heart"></i> <!-- Adding the Font Awesome heart icon -->
                            </button>
                        </form>
                    </div>
                </div>
                <div class="rating-summary">
                    <h4>Ratings</h4>
                    <div class="overall-rating">
                        <h4 th:text="*{rating}">4.85 / 5</h4>
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        Based on the number of reviews:
                        <p th:text="*{numberOfReviews}">17</p>
                    </div>
                    <div class="rating-distribution">
                        <div class="rating-bar">
                            <span>5 <i class="fa fa-star"></i></span>
                            <div class="bar">
                                <div class="filled" style="width: 88%;"></div>
                            </div>
                            <span class="rating-value">15</span>
                        </div>
                        <div class="rating-bar">
                            <span>4 <i class="fa fa-star"></i></span>
                            <div class="bar">
                                <div class="filled" style="width: 12%;"></div>
                            </div>
                            <span class="rating-value">2</span>
                        </div>
                        <div class="rating-bar">
                            <span>3 <i class="fa fa-star"></i></span>
                            <div class="bar">
                                <div class="filled" style="width: 0;"></div>
                            </div>
                            <span class="rating-value">0</span>
                        </div>
                        <div class="rating-bar">
                            <span>2 <i class="fa fa-star"></i></span>
                            <div class="bar">
                                <div class="filled" style="width: 0;"></div>
                            </div>
                            <span class="rating-value">0</span>
                        </div>
                        <div class="rating-bar">
                            <span>1 <i class="fa fa-star"></i></span>
                            <div class="bar">
                                <div class="filled" style="width: 0;"></div>
                            </div>
                            <span class="rating-value">0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end product details section -->

<!-- info section -->
<section class="info_section long_section" th:replace="~{fragments/info}"></section>
<!-- end info_section -->

<!-- footer section -->
<footer class="footer_section" th:replace="~{fragments/footer}"></footer>
<!-- end footer section -->

<div th:replace="~{fragments/script}"></div>
</body>
</html>
