<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<!-- header section starts -->
<header class="header_section long_section px-0" th:replace="~{fragments/navbar}">
</header>
<!-- end header section -->
<div class="login-container">
    <div class="login-box">
        <h2 th:text="#{login.title}">Login</h2>
        <form th:action="@{/users/login}" method="post">
            <input type="email" name="email" th:placeholder="#{login.emailPlaceholder}" required>
            <input type="password" name="password" th:placeholder="#{login.passwordPlaceholder}" required>
            <button type="submit" th:text="#{login.button}">Login</button>
        </form>
        <div th:if="${param.error}">
            <p class="error" th:text="#{login.error}">Invalid email or password</p>
        </div>
    </div>
</div>

<section class="info_section long_section" th:replace="~{fragments/info}">
</section>

<footer class="footer_section" th:replace="~{fragments/footer}">
</footer>

<div th:replace="~{fragments/script}"></div>

</body>
</html>
